<!doctype html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}
        博客列表
    {% endblock title %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nprogress.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
    <link rel="apple-touch-icon-precomposed" href="/static/images/icon.png">
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <script src="/static/js/jquery-2.1.4.min.js"></script>
    <script src="/static/js/nprogress.js"></script>
    <script src="/static/js/jquery.lazyload.min.js"></script>
    <!--[if gte IE 9]>
<script src="/static/js/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="/static/js/html5shiv.min.js" type="text/javascript"></script>
<script src="/static/js/respond.min.js" type="text/javascript"></script>
<script src="/static/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
    <!--[if lt IE 9]>
<script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>
<body class="user-select">


{% block header %}
    {% include 'navcate.html' %}
{% endblock %}







<section class="container">
    <div class="content-wrap">
        <div class="content">


            {% block list_title %}
                <div class="title">
                    <h3 style="line-height: 1.3">博客列表</h3>
                </div>
            {% endblock %}




            {% block article %}

                {% for post in blog_list %}
                    <article class="excerpt excerpt-1"><a class="focus" href="{% url 'blogapp:show' post.id %}" title="{{ post.title }}"
                                                          target="_blank"><img
                            class="thumb" data-original="/{{ post.cover }}"
                            src="/{{ post.cover }}" alt="{{ post.title }}" style="display: inline;"></a>
                        <header><a class="cat" href="{% url 'blogapp:show' post.id %}" title="知奇课堂-博客">知奇课堂-博客<i></i></a>
                            <h2><a href="{% url 'blogapp:show' post.id%}" title="{{ post.title }}" target="_blank">{{ post.title }}</a></h2>
                        </header>
                        <p class="meta">
                            <time class="time"><i class="glyphicon glyphicon-time"></i>{{ post.pub_date }}</time>
                            <span class="views"><i class="glyphicon glyphicon-eye-open"></i> {{ post.views }}</span> <a
                                class="comment"
                                href="##comment"
                                title="评论"
                                target="_blank"><i
                                class="glyphicon glyphicon-comment"></i> {{ post.comment_set.count }}</a></p>
                        <p class="note">


                            {{ post.content|truncatechars_html:100 }}

                        </p>
                    </article>
                {% endfor %}







            {% endblock %}





            <nav class="pagination" style="display: none;">
                <ul>
                    <li class="prev-page"></li>
                    <li class="active"><span>1</span></li>
                    <li><a href="?page=2">2</a></li>
                    <li class="next-page"><a href="?page=2">下一页</a></li>
                    <li><span>共 2 页</span></li>
                </ul>
            </nav>
        </div>
    </div>
    <aside class="sidebar">
        <div class="fixed">


            {% block search %}



                {% include 'search.html' %}


            {% endblock %}

            {% block sentence %}
                <div class="widget widget_sentence">
                    <h3>标签云</h3>
                    <div class="widget-sentence-content">
                        <ul class="plinks ptags">


                            {% for tag in tag_list %}
                                <li><a href="{% url 'blogapp:blog_list' tid=tag.id %}" title="{{ tag.name }}"
                                       draggable="false">{{ tag.name }} <span
                                        class="badge">{{ tag.post_set.count }}</span></a>
                                </li>
                            {% endfor %}


                        </ul>
                    </div>
                </div>
            {% endblock %}


        </div>

        {% block hot %}


            {% include 'comment_list.html' %}

        {% endblock %}


    </aside>
</section>
<footer class="footer">
    <div class="container">
        <p>Copyright &copy; 2016.Company name All rights reserved. </p>
    </div>
    <div id="gotop"><a class="gotop"></a></div>
</footer>
<script src="/static/js/bootstrap.min.js"></script>
{#<script src="/static/js/jquery.ias.js"></script>#}
<script src="/static/js/scripts.js"></script>
</body>
</html>
